.App {
  text-align: center;
}

.main-wrapper {
  padding: 5% 2%;
}

input {
  outline: none;
  border: 2px solid steelblue;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  resize: none;
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 20px;
}

button {
  outline: none;
  border: none;
  color: white;
  background: steelblue;
  border-radius: 5px;
  width: 100%;
  justify-self: center;
}
